<div class="row">
	<div id="deal-ad-area">
		<div class="col-xs-5">
			<%= image_tag advertisement.image.variant(resize_to_fill: [200, 200]) %>
		</div>
		<div class="col-xs-5 col-xs-offset-2">
			<tr>
      <th><h4><%= advertisement.title %></h4></th>
      <td><h4><%= converting_to_jpy(advertisement.amounts) %></h4></td>
      <td><%= advertisement.heading %></td><br>
      <br>
      <td><span class="tag">広告主</span></td><br>
      <br>
      <td ><%= advertisement.sponsor.company_name %></td><br>
      <br>
      <td><span class="tag">広告期間</span></td><br>
      <br>
      <td><%= advertisement.start_due_on %>〜<%= advertisement.end_due_on %></td><br>
    </tr>
		</div>
	</div>
</div>