<div class="ui grid">
  <div class="row" id="deal-ad-area">
    <div class="five wide column">
      <%= image_tag advertisement.image.variant(resize_to_fill: [200, 200]), class: "ui rounded image" %>
    </div>
    <div class="two wide column"></div>
    <div class="nine wide column">
      <table class="ui definition table">
          <tr>
            <td><span class="tag">広告タイトル</span></td>
            <td><%= advertisement.title %></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tag">広告見出し</span></td>
            <td><%= advertisement.heading %></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tag">広告料金</span></td>
            <td><%= converting_to_jpy(advertisement.amounts) %></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tag">スポンサー名</span></td>
            <td><%= advertisement.sponsor.company_name %></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tag">広告期間</span></td>
            <td colspan="2"><%= advertisement.start_due_on %> 〜 <%= advertisement.end_due_on %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

