<div class="row">
	<div class="col-xs-3">
	<!-- サイドバー -->
		<%= render 'sponsors/sidebar', sponsor: current_sponsor %>
	</div>
	<div class="col-xs-8">
		<div class="deal-area">
		<% if @under_deal.work_status == 'finished'%>
			<h4>過去の取引詳細</h4>
		<% else %>
			<h4>取引中の広告詳細</h4>
		<% end %>
		<%= render 'under_deals/advertisement_info', advertisement: @advertisement %>
		<%= render 'under_deals/flow_sponsor', under_deal: @under_deal %>
			<!-- メッセージエリア -->
			<div id="chat-templete" class="chat-area">
				<%= form_with(model: @message, local: true, url: under_deal_deal_messages_path(@under_deal)) do |f| %>
					<div id ="chat-send">
						<%= f.text_area :message, placeholder: "メッセージを入力してください。", class: "chat-message" %>
						<%= f.submit "送信",  class: "btn chat-btn" %>
					</div>
				<% end %>
				<% @messages.each do |message| %>
					<% if message.user_type == 'driver' %>
					<div class="message">
					<div id="icon" class="faceicon">
              <%= image_tag @under_deal.driver.profile_image.variant(resize_to_fill: [200, 200]) %>
          </div>
            <div class="chatting">
              <div class="says">
                <p><%= message.message %></p>
                <div class="say-data">
                  <%= message.created_at.to_s(:datetime_jp) %>
                </div>
              </div>
            </div>
						</div>
					<% else %>
						<div class="message2">
            <div class="faceicon2">
              <%= image_tag @under_deal.advertisement.sponsor.company_image.variant(resize_to_fill: [200, 200]) %>
            </div>
              <div class="chatting2">
                <div class="says2">
                  <p><%= message.message %></p>
                  <div class="say-data2">
                    <%= message.created_at.to_s(:datetime_jp) %>
                  </div>
                </div>
              </div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>