<div class="ui stackable grid">
  <div class="three wide column">
    <%= render 'sponsors/sidebar', sponsor: current_sponsor %>
  </div>
  <div class="twelve wide column">
  
    <div class="ui segment">
      <% if @under_deal.work_status == 'finished' %>
        <h4 class="ui dividing header">過去の取引</h4>
      <% else %>
        <h4 class="ui dividing header">取引中の広告</h4>
      <% end %>
      <%= render 'under_deals/advertisement_info', advertisement: @advertisement %>
      <%= render 'under_deals/flow_sponsor', under_deal: @under_deal %>

      <div class="ui comments">
        <% @deal_messages.each do |message| %>
          <div class="comment <%= message.user_type %>">
            <div class="avatar">
              <% if message.user_type == 'driver' %>
                <%= image_tag @under_deal.driver.profile_image.variant(resize_to_fill: [200, 200]) %>
              <% else %>
                <%= image_tag @under_deal.advertisement.sponsor.company_image.variant(resize_to_fill: [200, 200]) %>
              <% end %>
            </div>
            <div class="content">
              <div class="text <%= message.user_type %>">
                <%= message.message %>
              </div>
              <div class="metadata">
                <span class="date"><%= message.created_at.to_s(:datetime_jp) %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div id="chat-templete">
        <%= form_with(model: @deal_message, local: true, url: under_deal_deal_messages_path(@under_deal)) do |f| %>
          <div class="flex-container">
            <%= f.text_area :message, placeholder: "メッセージを入力してください。", class: "chat-message flex-input" %>
            <%= f.submit "送信", class: "ui button chat-btn teal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

