<div class="ui container">
  <h2>Driverログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form" }) do |f| %>
    <div class="ui stacked segment">
      <div class="field">
        <%= f.label :メールアドレス %>
        <div class="ui input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <div class="ui input">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <%= link_to "=>パスワードを忘れた方はこちら" %>
      </div>

      <%= f.submit "ログイン", class: "ui fluid primary button" %>
    </div>
  <% end %>
</div>


