<div class="ui grid">
  <div class="ten wide column">
    <h3 class="ui header">広告内容 編集</h3>

    <%= form_with(model: @advertisement, local: true, url: sponsor_advertisement_path, class: "ui form") do |f| %>
      <div class="field">
        <%= f.label :広告画像 %><br>
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <%= f.label :タイトル %>
        <%= f.text_field :title, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :start_due_on %>
        <%= f.text_field :start_due_on, data: { date_format: 'YYYY/MM/DD' }, class: 'datetimepicker' %>
      </div>

      <div class="field">
        <%= f.label :end_due_on %>
        <%= f.text_field :end_due_on, data: { date_format: 'YYYY/MM/DD' }, class: 'datetimepicker' %>
      </div>

      <div class="field">
        <%= f.label :広告金額 %>
        <%= f.text_field :amounts, autofocus: true %> 円
        <p>※こちらの金額とは別に掲載手数料が10%発生します</p>
      </div>

      <div class="field">
        <%= f.label :見出し %>
        <%= f.text_field :heading, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :内容 %>
        <%= f.text_area :content, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :ジャンル %>
        <%= f.collection_select(:genre_id, @genres, :id, :name) %>
      </div>

      <div class="field text-center">
        <%= f.submit "登録する", class: "ui primary button" %>
      </div>
    <% end %>

    <a href="<%= sponsor_advertisements_path %>">
      <i class="fas fa-angle-left"></i> 前の画面に戻る
    </a>
  </div>

  <div class="six wide column">
    <h3 class="ui header">商品画像プレビュー</h3>
    <div class="ui centered card">
      <div class="image">
        <%= image_tag @advertisement.image.variant(resize_to_fill: [200, 200]) %>
      </div>
    </div>
  </div>
</div>
