<div class="ui stackable grid">
  <div class="four wide column">
    <%= render 'sponsors/sidebar', sponsor: current_sponsor %>
  </div>

	<div class="twelve wide column">
		<h3 class="ui dividing header">掲載中 広告一覧</h3>

		<div class="ui stackable three column grid">
			<% @advertisements.each do |advertisement| %>
				<div class="column">
					<div class="ui card">
						<div class="advertisement_image">
							<%= link_to sponsor_advertisement_path(advertisement.sponsor.id, advertisement.id) do %>
								<%= image_tag advertisement.image.variant(resize_to_fill: [200, 200]) %>
							<% end %>
						</div>
						<div class="content">
								<%= link_to advertisement.title, sponsor_advertisement_path(advertisement.sponsor.id, advertisement.id) %>
							<div class="description">
								<%= advertisement.heading %>
							</div>
						</div>
						<div class="extra content">
							<span class="right floated">
							報酬金額:<%= converting_to_jpy(advertisement.amounts) %>
							</span>
							<div id="favorites_buttons_<%= advertisement.id %>">
								<%= render partial: 'favorites/favorite', locals: { advertisement: advertisement } %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

