<% content_for(:body_attributes) do %>
    data-turbolinks="false"
<% end %>

<h3 class="ui header">広告依頼フォーム</h3>

<%= form_with(model: @advertisement, local: true, url: sponsor_advertisements_path(current_sponsor), class: "ui form") do |f| %>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
      <% if @advertisement.image.attached? %>
        <%= image_tag @advertisement.image.variant(resize_to_fill: [200, 200]) %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, autocomplete:"", placeholder:"タイトルを入力" %>
    </div>

    <div class="field">
      <%= f.label :start_due_on %>
      <%= f.text_field :start_due_on ,data: { :date_format => 'YYYY/MM/DD' }, placeholder: '2023/01/01' %>
    </div>

    <div class="field">
      <%= f.label :end_due_on %>
      <%= f.text_field :end_due_on ,data: { :date_format => 'YYYY/MM/DD' }, placeholder: '2023/01/01' %>
    </div>

    <div class="field">
      <%= f.label :amounts %>
      <%= f.text_field :amounts, autofocus: true, autocomplete:"", placeholder:"金額を入力" %>
      <label>※こちらの金額とは別に掲載手数料が10%発生します</label>
    </div>

    <div class="field">
      <%= f.label :heading %>
      <%= f.text_field :heading, autofocus: true, autocomplete:"", placeholder:"見出しを入力" %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, autofocus: true, autocomplete:"", placeholder:"内容を入力", id:"input-area" %>
    </div>

    <div class="field">
      <%= f.label :genre_id %>
      <%= f.collection_select(:genre_id, @genres, :id, :name, :prompt => "選択してください", class: "ui dropdown") %>
    </div>

    <div class="field text-right">
      <%= button_tag :type => "submit", class: "ui blue button" do %><span>依頼する</span><i class="fas fa-angle-double-right"></i><% end %>
    </div>
<% end %>

<%= link_to dashboard_sponsor_path(current_sponsor) do %>
  <i class="fas fa-angle-left"></i> 前の画面に戻る
<% end %>

