<div class="ui grid">
  <div class="four wide column">
    <% if sponsor_signed_in? %>
      <%= render 'sponsors/sidebar', sponsor: current_sponsor %>
    <% elsif driver_signed_in?%>
      <%= render "drivers/sidebar", driver: current_driver %>
    <% end %>
  </div>

  <div class="twelve wide column">
    <div class="ui segment">
      <div class="image">
        <%= image_tag @advertisement.image.variant(resize_to_fill: [300, 300]) %>
      </div>
      <div class="content">
        <div class="header"><%= @advertisement.title %></div>
        <div class="meta">
          <span class="ad-fee"><%= converting_to_jpy(@advertisement.amounts) %></span>
          <div id="favorites_buttons_<%= @advertisement.id %>">
            <%= render partial: 'favorites/favorite', locals: { advertisement: @advertisement } %>
          </div>
        </div>
        <div class="description">
          <h4><%= @advertisement.heading %></h4>
          <p><%= @advertisement.content %></p>
        </div>
      </div>
      <div class="extra content">
        <table class="ui table">
          <tr>
            <th>スポンサー</th>
            <th>広告作業期間</th>
          </tr>
          <tr>
            <td><%= @advertisement.sponsor.company_name %></td>
            <td><%= @advertisement.start_due_on %> - <%= @advertisement.end_due_on %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
          </tr>
          <tr>
            <td colspan="2"><%= @advertisement.genre.name %></td>
          </tr>
        </table>
      </div>
      <div class="ui bottom attached button">
        <%= link_to edit_sponsor_advertisement_path(@advertisement.sponsor.id, @advertisement.id) do %>
          編集する <i class="fas fa-angle-double-right"></i>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to sponsor_advertisements_path(current_sponsor) do %>
        <i class="fas fa-angle-left"> 広告一覧へ戻る</i>
      <% end %>
    </div>
  </div>
</div>
