<h2>Driver新規登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "drivers/devises/shared/error_messages", resource: resource %>
    <table class="table" id="none-border">
      <tbody>
        <tr>
          <td><%= f.label :プロフィール画像 %></td>
          <td><%= f.file_field :profile_image %></td>
        </tr>

        <tr>
          <td><%= f.label :名前 %></td>
          <td><%= f.text_field :name, autofoucus: true, autocomplete: "", placeholder: "お名前を入力", class: "form-control" %></td>
        </tr>

        <tr>
          <td><%= f.label :名前「カナ」 %></td>
          <td><%= f.text_field :name_kana, autofoucus: true, autocomplete: "", placeholder: "お名前のカナを入力", class: "form-control" %></td>
        </tr>

        <tr>
          <td><%= f.label :郵便番号 %></td>
          <td><%= f.text_field :postal_code, autofoucus: true, autocomplete: "", placeholder: "ハイフンなし", class: "form-control" %></td>
        </tr>

        <tr>
          <td><%= f.label :住所 %></td>
          <td><%= f.text_field :address, :size=> "60", autofoucus: true, autocomplete: "", placeholder: "ご住所を入力", class: "form-control" %></td>      
        </tr>

        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.text_field :email, autofocus: true,:size=>"50", autocomplete:"", placeholder:"メールアドレスを入力", class: "form-control"%></td>
        </tr>

        <tr>
          <td><%= f.label :電話番号 %></td>
          <td><%= f.text_field :telephone_number, autofoucus: true, autocomplete: "", placeholder: "電話番号を入力", class: "form-control" %></td>      
        </tr>

        <tr>
          <td><%= f.label :活動地域 %></td>
          <td>例）東京都中央区 <%= f.text_field :activity_area, autofocus: true, placeholder:"都道府県と市町村名までを入力", class: "form-control"%></td>
        </tr>

        <tr>
          <td><%= f.label :免許書画像 %></td>
          <td><%= f.file_field :license_image %></td>
        </tr>

        
        <tr>
          <td><%= f.label :パスワード %>
            <% if @minimum_password_length %>
              <em>( <%= @minimum_password_length %>文字以上 )</em>
            <% end %></td>
          <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
        </tr>
        
        <tr>
          <td><%= f.label :パスワード（確認用） %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
        </tr>

        <tr>
          <td><%= link_to "ご利用規約" %><br> 
              必ずご一読、ご了承の上でご登録ください</td>
          <td><%= f.check_box :terms, checked:false, :as => :boolean %>利用規約に同意する</td>
        </tr>

        <tr>
          <td><%= f.submit "新規登録", class: "btn03" do %><i class="far fa-edit"></i><% end %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

<div class="col-xs-3">
  <h4>Driverアカウントはお持ちですか?</h4>    
  <%=link_to "ログインする", new_driver_session_path %>
</div>
