<div class="ui container">
  <h3>車両情報</h3>
  <div class="ui segment">
    <h4>新規車両登録</h4>
    <%= form_with(model: @car_info, local: true, url: driver_car_infos_path, class: "ui form") do |f| %>
      <div class="field">
        <%= f.label :メーカー名 %>
        <%= f.text_field :manufacturer_name, autofocus: true, placeholder: "車のメーカー名を入力" %>
      </div>

      <div class="field">
        <%= f.label :車名 %>
        <%= f.text_field :name, autofocus: true, placeholder: "車種名を入力" %>
      </div> 

      <div class="field">
        <%= f.label :車台番号 %>
        <%= f.text_field :flame_number, autofocus: true, placeholder: "車両検査表に記載の車台番号を入力" %>
      </div>

      <div class="field">
        <%= f.label :ナンバープレート %>
        <%= f.text_field :license_plate, autofocus: true, placeholder: "登録番号を入力" %>
      </div>

      <div class="field">
        <%= f.label :車検証写真 %>
        <%= f.file_field :vehicle_image %>
      </div>

      <%= f.submit "登 録", class: "ui primary button" %>
    <% end %>
  </div>

  <%= link_to "前の画面に戻る", dashboard_driver_path(current_driver), class: "ui button" %>

  <div class="ui segment">
    <h3>登録車両一覧</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>メーカー名</th>
          <th>車名</th>
          <th>ナンバープレート</th>
          <th>車台番号</th>
          <th>車検証写真</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @car_infos.each do |car_info| %>
          <tr>
            <td><%= car_info.manufacturer_name %></td>
            <td><%= car_info.name %></td>
            <td><%= car_info.flame_number %></td>
            <td><%= car_info.license_plate %></td>
            <td><%= image_tag car_info.vehicle_image.variant(resize_to_fill: [200, 200]) %></td>
            <td colspan="2">
              <%= link_to "編 集", edit_driver_car_info_path(car_info.driver_id, car_info.id), class: "ui button" %>
              <%= link_to "削 除", driver_car_info_path(car_info.driver_id, car_info.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "ui button negative" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

