<div class="ui container">
  <h3 class="ui dividing header">新規車両登録</h3>
  
  <% if @car_info.errors.any? %>
    <div class="ui negative message">
      <div class="header">
        <%= @car_info.errors.count %>件のエラーです
      </div>
      <ul class="list">
        <% @car_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui segment">
    <%= form_with(model: @car_info, local: true, url: driver_car_infos_path, class: "ui form") do |f| %>
      <div class="field">
        <%= f.label :manufacturer_name, class: "ui label" %>
        <%= f.text_field :manufacturer_name, autofocus: true, placeholder: "車のメーカー名を入力" %>
      </div>

      <div class="field">
        <%= f.label :name, class: "ui label" %>
        <%= f.text_field :name, autofocus: true, placeholder: "車種名を入力" %>
      </div> 

      <div class="field">
        <%= f.label :flame_number, class: "ui label" %>
        <%= f.text_field :flame_number, autofocus: true, placeholder: "車両検査表に記載の車台番号を入力" %>
      </div>

      <div class="field">
        <%= f.label :license_plate, class: "ui label" %>
        <%= f.text_field :license_plate, autofocus: true, placeholder: "登録番号を入力" %>
      </div>

      <div class="field">
        <%= f.label :vehicle_image, class: "ui label" %>
        <%= f.file_field :vehicle_image %>
      </div>

      <%= f.submit "登 録", class: "ui fluid primary button" %>
    <% end %>
  </div>

  <div class="ui segment">
    <h3>登録車両一覧</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>メーカー名</th>
          <th>車名</th>
          <th>ナンバープレート</th>
          <th>車台番号</th>
          <th>車検証写真</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @car_infos.each do |car_info| %>
          <tr>
            <td><%= car_info.manufacturer_name %></td>
            <td><%= car_info.name %></td>
            <td><%= car_info.flame_number %></td>
            <td><%= car_info.license_plate %></td>
            <td><%= image_tag car_info.vehicle_image.variant(resize_to_fill: [100, 100]) %></td>
            <td>
              <%= link_to "編 集", edit_driver_car_info_path(car_info.driver_id, car_info.id), class: "ui green button" %>
            </td>
            <td>
              <%= link_to "削 除", driver_car_info_path(car_info.driver_id, car_info.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "ui button negative" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <%= link_to "前の画面に戻る", dashboard_driver_path(current_driver), class: "fas fa-angle-left" %>

