<div class="ui container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h3>ジャンル編集画面</h3>
      <div class="create-genres">
        <%= form_with(model: @genre, local: true, url: admins_genre_path, class: "ui form") do |f| %>
          <div class="inline fields">
            <div class="field">
              <%= f.label :name, "ジャンル" %>
              <%= f.text_field :name, class: "form-control edit-form" %>
            </div>
            <div class="field">
              <%= f.radio_button :flag_active, :true, class: "hidden" %>
              <label>有効</label>
            </div>
            <div class="field">
              <%= f.radio_button :flag_active, :false, class: "hidden" %>
              <label>無効</label>
            </div>
          </div>
          <%= f.submit "変更を保存する", class: "ui primary button" %>
        <% end %>
      </div>
      <br>
      <%= link_to "前の画面に戻る", admins_genres_path, class: "fas fa-angle-left" %>
    </div>
  </div>
</div>
