<h3>Sponsor一覧</h3>
	<% i = 0 %>
		<table class="table" id="none-border">
			<% sponsors.each do |sponsor| %>
				<td>
					<%= link_to sponsor_path(sponsor.id),data: {"turbolinks" => false} do %>
					<%= image_tag sponsor.company_image.variant(resize_to_fill: [200, 200]) %><br>
					<%= sponsor.company_name %><% end %><br>
					<%= sponsor.company_name_kana %><br>
				</td>
				<% i = i + 1 %>
				<% if i % 3 == 0 %>
				<tr></tr>
				<% end %>
			<% end %>
		</table>
	<div class="text-center"><%= paginate sponsors, class: "paginate" %></div>
<% if sponsor_signed_in? %>
	<%= link_to dashboard_sponsor_path(current_sponsor) do %><i class="fas fa-angle-left"></i> マイページへ戻る<% end %>
<% elsif driver_signed_in?%>
	<%= link_to  dashboard_driver_path(current_driver) do %><i class="fas fa-angle-left"></i> トップページに戻る<% end %>
<% end %>
