<div class="ui vertical menu sidebar-area">
  <div class="item">
    <div class="ui centered circular image">
      <%= image_tag sponsor.company_image.variant(resize_to_fill: [200, 200]) %>
    </div>
    <div class="center aligned header" style="text-align: center; margin-top: 20px;">
      <%= sponsor.company_name %> さん
    </div>
  </div>
  <div class="item" id="none-border">
    <%= render "relationship_drivers/follow_count_sponsor", sponsor: current_sponsor %>
  </div>
  <% if current_sponsor == sponsor %>
    <div class="item" style="text-align: center;">
      <%= link_to new_sponsor_advertisement_path(current_sponsor), class: "ui basic button", data: { "turbolinks" => false } do %>
        <i class="icon plus"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 新規広告依頼</font></font>
      <% end %>
    </div>
  <% end %>

  <div class="item">
    <div class="header">メニュー</div>
    <div class="menu">
      <%= link_to dashboard_sponsor_path(current_sponsor), class: "side-menu item" do %>
        <i class="fas fa-user"></i> マイページ
      <% end %>
      <%= link_to drivers_path, class: "side-menu item" do %>
        <i class="fas fa-car"></i> Driver一覧
      <% end %>
      <%= link_to sponsors_path, class: "side-menu item" do %>
        <i class="fas fa-building"></i> Sponsor一覧
      <% end %>
      <%= link_to sponsor_advertisements_path(current_sponsor), class: "side-menu item" do %>
        <i class="fas fa-list-alt"></i> 掲載広告一覧
      <% end %>
      <%= link_to advertisements_path(current_sponsor), class: "side-menu item" do %>
        <i class="fas fa-bullhorn"></i> 広告一覧
      <% end %>
      <%= link_to new_contact_path, class: "side-menu item" do %>
        <i class="fas fa-envelope"></i> お問い合わせ
      <% end %>
    </div>
  </div>

  <div class="item">
    <div class="header">設定</div>
    <div class="menu">
      <%= link_to edit_sponsor_path(current_sponsor), class: "side-menu item", data: { "turbolinks" => false } do %>
        <i class="fas fa-cog"></i> アカウント
      <% end %>
      <%= link_to destroy_sponsor_session_path, method: :delete, class: "side-menu item" do %>
        <i class="fas fa-sign-out-alt"></i> ログアウト
      <% end %>
    </div>
  </div>
</div>
