<div class="ui vertical menu sidebar-area">
  <div class="item">
    <div class="ui centered circular image">
      <%= image_tag sponsor.company_image.variant(resize_to_fill: [200, 200]) %>
    </div>
    <div class="center aligned header">
      <%= sponsor.company_name %> さん
    </div>
  </div>
  <div class="item" id="none-border">
    <%= render "relationship_drivers/follow_count_sponsor", sponsor: current_sponsor %>
  </div>
  <% if current_sponsor == sponsor %>
    <div class="item">
      <%= link_to new_sponsor_advertisement_path(current_sponsor), class: "btn01", data: { "turbolinks" => false } do %>
        <span>新規広告依頼</span>
      <% end %>
    </div>
  <% end %>

  <div class="item">
    <div class="header">メニュー</div>
    <div class="menu">
      <%= link_to "マイページ", dashboard_sponsor_path(current_sponsor), class: "side-menu item" %>
      <%= link_to "Driver一覧", drivers_path, class: "side-menu item" %>
      <%= link_to "Sponsor一覧", sponsors_path, class: "side-menu item" %>
      <%= link_to "掲載広告一覧", sponsor_advertisements_path(current_sponsor), class: "side-menu item" %>
      <%= link_to "広告一覧", advertisements_path(current_sponsor), class: "side-menu item" %>
      <%= link_to "お問い合わせ", new_contact_path, class: "side-menu item" %>
    </div>
  </div>

  <div class="item">
    <div class="header">設定</div>
    <div class="menu">
      <%= link_to edit_sponsor_path(current_sponsor), class: "side-menu item", data: { "turbolinks" => false } do %>
        アカウント
      <% end %>
      <%= link_to "ログアウト", destroy_sponsor_session_path, method: :delete, class: "side-menu item" %>
    </div>
  </div>
</div>
