<div class="ui grid">
  <div class="four wide column">
    <% if sponsor_signed_in? %>
      <%= render 'sponsors/sidebar', sponsor: current_sponsor %>
    <% elsif driver_signed_in? %>
      <%= render "drivers/sidebar", driver: current_driver %>
    <% end %>
  </div>
  
  <div class="twelve wide column">
    <h3 class="ui header">フォロワー リスト</h3>
    <div class="ui segment">
      <div class="ui divided items">
        <% @followers.each do |driver| %>
          <div class="item">
            <div class="ui tiny image">
              <%= image_tag driver.profile_image.variant(resize_to_fill: [100, 100]) %>
            </div>
            <div class="middle aligned content">
              <div class="header">
                <%= driver.name %>
                <%= link_to driver_path(driver), class: "ui blue button mini floated right", data: {"turbolinks" => false} do %>
                  詳細 <i class="fas fa-arrow-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>