<h3 class="ui dividing header">お問い合わせ詳細</h3>
<table class="ui definition table">
  <tr>
    <td>名前</td>
    <td><%= @contact.name %></td>
  </tr>
  <tr>
    <td>会社名</td>
    <td><%= @contact.company_name %></td>
  </tr>
  <tr>
    <td>お問い合わせ日</td>
    <td><%= @contact.created_at.strftime("%Y-%m-%d") %></td>
  </tr>
  <tr>
    <td>ステータス</td>
    <td>
      <%= form_with(model: @contact, local: true, url: contact_path(@contact)) do |f| %>
        <%= f.select :work_status, Contact.work_statuses.keys.map { |k| [I18n.t("enums.contact.work_status.#{k}"), k] } %>
        <%= f.submit "更新", class: "ui button primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>内容</td>
    <td><%= @contact.content %></td>
  </tr>
</table>
