<h1>振込先口座編集</h1>
<%= form_with(model: @transfer_info, local: true, url: driver_transfer_info_path) do |f| %>
  <div class="ui form">
    <div class="field">
      <%= f.label :銀行名（ハイフンなし） %>
      <%= f.text_field :bank_name, autofocus: true, autocomplete:"", placeholder:"銀行名を入力", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :支店名 %>
      <%= f.text_field :branch_name, autofocus: true, autocomplete:"", placeholder:"支店名を入力", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :口座種別 %>
      <%= f.text_field :account_type, autofocus: true, autocomplete:"", placeholder:"普通預金 or 当座預金を入力", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :口座番号 %>
      <%= f.text_field :account_number, autofocus: true, autocomplete:"", placeholder:"口座番号を入力", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :口座名義人名 %>
      <%= f.text_field :account_name, autofocus: true, autocomplete:"", placeholder:"口座名義人の名前をカタカナで入力", class: "form-control" %>
    </div>

    <%= f.submit "登 録", class: "ui primary button" %>
    
  </div>
<% end %>

