<div class="ui container">
  <h3 class="ui dividing header">新規口座登録</h3>

  <% if @transfer_info.errors.any? %>
  <div class="ui negative message">
    <div class="header">
      <%= @transfer_info.errors.count %>件のエラーです
    </div>
    <ul class="list">
      <% @transfer_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="ui segment">
  <%= form_with(model: @transfer_info, local: true, url: driver_transfer_infos_path, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label :bank_name, class: "ui label" %>
      <%= f.text_field :bank_name, autofocus: true, placeholder: "銀行名を入力" %>
    </div>

    <div class="field">
      <%= f.label :branch_name, class: "ui label" %>
      <%= f.text_field :branch_name, autofocus: true, placeholder: "支店名を入力" %>
    </div>

    <div class="field">
      <%= f.label :account_type, class: "ui label" %>
      <div class="inline fields">
        <div class="field">
          <%= f.radio_button :account_type, :ordinary %>
          <%= f.label "普通預金" %>
        </div>
        <div class="field">
          <%= f.radio_button :account_type, :checking %>
          <%= f.label "当座預金" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :account_number, class: "ui label" %>
      <%= f.text_field :account_number, autofocus: true, placeholder: "口座番号を入力" %>
    </div>

    <div class="field">
      <%= f.label :account_name, class: "ui label" %>
      <%= f.text_field :account_name, autofocus: true, placeholder: "カタカナで入力" %>
    </div>

    <%= f.submit "登 録", class: "ui fluid primary button" %>
  <% end %>
  </div>

  <h3>登録口座一覧</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>銀行名</th>
        <th>支店名</th>
        <th>口座種別</th>
        <th>口座番号</th>
        <th>口座人名</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @transfer_infos.each do |t| %>
        <tr>
          <td><%= t.bank_name %></td>
          <td><%= t.branch_name %></td>
          <td><%= t.account_type == "ordinary" ? "普通預金" : "当座預金" %></td>
          <td><%= t.account_number %></td>
          <td><%= t.account_name %></td>
          <td>
            <%= link_to "編 集", edit_driver_transfer_info_path(t.driver_id, t.id), class: "ui green button edit_book_#{t.id}" %>
          </td>
          <td>
            <%= link_to "削 除", driver_transfer_info_path(t.driver_id, t.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "ui button negative" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <%= link_to "前の画面に戻る", dashboard_driver_path(current_driver), class: "fas fa-angle-left" %>
