<!-- Advertisement Details -->
<table class="ui stackable table">
  <div class="four wide column">
    <%= image_tag @advertisement.image.variant(resize_to_fill: [200, 200]), class: "ui rounded image" %>
  </div>
  <tbody>
    <tr>
      <td><strong>広告名</strong></td>
      <td><p><%= @advertisement.title %></p></td>
    </tr>

    <tr>
      <td><strong>報酬金額</strong></td>
      <td><p><%= @advertisement.amounts %>円</p></td>
    </tr>

    <tr>
      <td><strong>見出し</strong></td>
      <td><p><%= @advertisement.heading %></p></td>
    </tr>

    <tr>
      <td><strong>内容</strong></td>
      <td><p><%= @advertisement.content %></p></td>
    </tr>

    <tr>
      <td><strong>ジャンル</strong></td>
      <td><%= @advertisement.genre.name %></td>
    </tr>

    <tr>
      <td><strong>スポンサー</strong></td>
      <td><%= @advertisement.sponsor.company_name %></td>
    </tr>

    <tr>
      <td><strong>広告作業期間</strong></td>
      <td><%= @advertisement.start_due_on %> 〜 <%= @advertisement.end_due_on %></td>
    </tr>

  </tbody>
</table>


<!-- Chatbox -->
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="ui header">チャットボックス</h4>
    <div class="ui action input">
      <% if driver_signed_in? %>
        <input name="chat" type="text" data-behavior="room_speaker" data-user="0" data-room="<%= @room.id %>" placeholder="メッセージを入力...">
      <% else %>
        <input name="chat" type="text" data-behavior="room_speaker" data-user="1" data-room="<%= @room.id %>" placeholder="メッセージを入力...">
      <% end %>
      <button class="ui primary button">送信</button>
    </div>
    <div class="ui container">
      <%= render "chat", collection: @chats %>
    </div>
  </div>
</div>

