<div class="ui container">
  <div class="ui segment">
    <h2 class="ui header">Sponsorログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui form"}) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        <%= link_to "=>パスワードを忘れた方はこちら" %>
      </div>

      <%= f.submit "ログイン", class: "ui primary button" %>
    <% end %>
  </div>
</div>

<div class="ui container">
  <div class="ui segment">
    <div class="ui centered grid">
      <div class="center aligned column">
        <h3>ゲストログイン</h3>
      </div>
    </div>
  </div>
</div>

