<div class="ui grid">
  <div class="three wide column">

    <%= render "drivers/sidebar", driver: @driver %>
  </div>
  <div class="thirteen wide column">

    <%= render 'layouts/message_from_admin', driver: @driver %>

    <div class="current-deal ui segment">
      <h3 class="ui dividing header">取引中の広告</h3>
      <% if @under_deal.present? %>

        <%= render 'under_deals/advertisement_info', advertisement: @advertisement %>
        <%= render 'under_deals/flow_driver', { under_deal: @under_deal, deal_detail: @deal_detail, driver: @driver } %>
        
        <div class="ui segment">
          <h4 class="ui dividing header">メッセージ記録</h4>
          <% if @deal_messages.blank? %>
            <h4 class="ui warning message">メッセージはありません</h4>
          <% end %>

          <% @deal_messages.each do |message| %>
            <% if message.user_type == 'sponsor'  %>
              <div class="comment <%= message.user_type %>" style="text-align: right; display: flex; align-items: start; justify-content: flex-end;">
                <div class="content" style="display: flex; flex-direction: column; align-items: flex-end;">
                  <div class="text <%= message.user_type %>">
                    <%= message.message %>
                  </div>
                  <div class="metadata">
                    <span class="date"><%= message.created_at.to_s(:datetime_jp) %></span>
                  </div>
                </div>
                <div class="avatar" style="margin-left: 10px;">
                  <%= image_tag @under_deal.driver.profile_image.variant(resize_to_fill: [50, 50]) %>
                </div>
              </div>
            <% else %>
              <div class="comment <%= message.user_type %>"style="display: flex;">
                <div class="avatar">
                  <%= image_tag @under_deal.advertisement.sponsor.company_image.variant(resize_to_fill: [50, 50]) %>
                </div>
                <div class="content">
                  <div class="text <%= message.user_type %>">
                    <%= message.message %>
                  </div>
                  <div class="metadata">
                    <span class="date"><%= message.created_at.to_s(:datetime_jp) %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div id="chat-templete">
          <%= form_with(model: @deal_message, local: true, url: under_deal_deal_messages_path(@under_deal)) do |f| %>
            <div class="flex-container">
              <%= f.text_area :message, placeholder: "メッセージを入力してください。", class: "chat-message flex-input" %>
              <%= f.submit "送信", class: "ui button chat-btn teal" %>
            </div>
          <% end %>
        </div>

      <% else %>
        <div class="ui info message" style="text-align: center;">
          <h4>現在、取引中の広告はありません。</h4>
          <h5>広告を探してみましょう！！ <%= link_to "▶︎ 広告ページへ", advertisements_path %></h5>
        </div>
      <% end %>

      <h3 class="ui dividing header">過去の取引一覧</h3>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>広告名</th>
            <th>広告期間</th>
            <th>ステータス</th>
            <th colspan="2">詳細画面</th>
          </tr>
        </thead>
        <tbody>
          <% @finish_deals.each do |f| %>
          <tr>
            <td><%= f.advertisement.title %></td>
            <td><%= f.advertisement.start_due_on %>〜<%= f.advertisement.end_due_on %></td>
            <td><%= f.work_status_i18n %></td>
            <td colspan="2">
              <%= link_to show_driver_under_deal_path(f.id), class: "ui green button" do %>
                詳細<i class="arrow right icon"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
