
<!-- サイドバー-->
<%= render "drivers/sidebar", driver: @driver %>
<!-- 運営からのメッセージ -->
<%# <%= render 'layouts/message_from_admin', driver: @driver %>

<!-- 取引広告の情報 -->
<h3>取引中の広告</h3>
<% if @under_deal.present? %>
  <!-- 作業報告エリア -->
  <%= render 'under_deals/ad_info', ad: @ad %>
  <%= render 'under_deals/flow_driver', { under_deal: @under_deal, deal_detail: @deal_detail, driver: @driver } %>
<!-- メッセージエリア -->
  <%= form_for (@message), url: under_deal_deal_messages_path(@under_deal) do |f| %>
      <%= f.text_area :message, placeholder: "メッセージを入力してください。", class: "chat-message" %>
      <%= f.submit "送信",  class: "btn chat-btn" %>
  <% end %>
  <% @messages.each do |message| %>
    <% if message.user_type == 'driver' %>
          <%= attachment_image_tag @under_deal.driver, :profile_image, fallback: "no_image.jpg", size:'90X90' %>
              <p><%= message.message %></p>
                <%= message.created_at.to_s(:datetime_jp) %>
    <% else %>
          <%= attachment_image_tag @under_deal.ad.ad_client, :profile_image, fallback: "no_image.jpg", size:'90X90' %>
              <p><%= message.message %></p>
                <%= message.created_at.to_s(:datetime_jp) %>
      <% end %>
    <% end %>
<% else %>
<% end %>
