<h4>プロフィール情報</h4>
<%= form_with(model: @driver, local: true, url: driver_path) do |f| %>
  <% if @driver.errors.any? %>
		<h3><%= @driver.errors.count %>error occurrence</h3>
		<ul>
			<% @driver.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
  
  <table class="table .table-borderless">
  
    <tr>
      <th><%= f.label :プロフィール画像 %></th>
      <td>
        <% if @driver.profile_image.attached? %>
          <%= image_tag @driver.profile_image.variant(resize_to_fill: [200, 200]) %>
        <% else %>
          <p>画像がありません</p>
        <% end %>
      </td>
      <td><%= f.file_field :profile_image, class: "form-control form-control-sm" %></td>
    </tr>

    <tr>
      <th><%= f.label :名前 %></th>
      <td><%= f.text_field :name, class: "form-control form-control-sm" %></td>
    </tr>

    <tr>
      <th><%= f.label :名前カナ %></th>
      <td><%= f.text_field :name_kana, class: "form-control form-control-sm" %></td>
    </tr>

    <tr>
      <th><%= f.label :郵便番号 %></th>
      <td><%= f.text_field :postal_code, class: "form-control form-control-sm" %></td>
    </tr>

    <tr>
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, class: "form-control form-control-sm" %></td>
    </tr>

    <tr>
      <th><%= f.label :電話番号 %></th>
      <td><%= f.text_field :telephone_number, class: "form-control form-control-sm" %></td>
    </tr>

    <tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.text_field :email, class: "form-control form-control-sm" %></td>
    </tr>

    <tr>
      <th><%= f.label :活動地域 %></th>
      <td>(例)東京都港区<%= f.text_field :activity_area, placeholder:"都道府県と市町村名までを入力", class: "form-control"%></td>
    </tr>

    <tr>
      <th></th>
      <td class="text-left"><%= button_tag :type => "submit", class: "btn03" do %><span>更新する</span><i class="fas fa-angle-double-right"></i><% end %></td>
    </tr>
    
    <% end %>
  </table>
  <%= link_to dashboard_driver_path(current_driver) do %><i class="fas fa-angle-left"> マイページへ戻る</i><% end %>

  <table class="table .table-borderless">
    <tr>
      <th>口座情報</th>
        <% if @driver.transfer_infos.present? %>
          <td><%= link_to "編集をする", driver_transfer_infos_path(@driver.id) %></td>
        <% else %>
          <td><%= link_to "登録する", driver_transfer_infos_path(@driver.id) %><span>口座情報が登録されていません。</span></td>
        <% end %>
    </tr>

    <tr>
      <th>車両情報</th>
        <% if @driver.car_infos.present? %>
          <td><%= link_to "編集をする", driver_car_infos_path(@driver.id) %></td>
        <% else %>
          <td><%= link_to "登録する", driver_car_infos_path(@driver.id) %><span>車両情報が登録されていません。</span></td>
        <% end %>
    </tr>
  </table>
