<div class="ui container">
  <h3 class="ui dividing header">プロフィール情報</h3>
  <%= form_with(model: @driver, local: true, url: driver_path, class: "ui form error") do |f| %>
    <% if @driver.errors.any? %>
      <div class="ui negative message">
        <div class="header">
          <%= pluralize(@driver.errors.count, "error") %>が発生しました
        </div>
        <ul class="list">
          <% @driver.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :プロフィール画像 %>
      <div class="ui medium image">
        <% if @driver.profile_image.attached? %>
          <%= image_tag @driver.profile_image.variant(resize_to_fill: [200, 200]), class: "ui circular image" %>
        <% else %>
          <p>画像がありません</p>
        <% end %>
      </div>
      <%= f.file_field :profile_image, class: "ui input" %>
    </div>

    <div class="field">
      <%= f.label :名前 %>
      <%= f.text_field :name, class: "ui input" %>
    </div>

    <div class="field">
      <%= f.label :名前カナ %>
      <%= f.text_field :name_kana, class: "ui input" %>
    </div>

    <div class="field">
      <%= f.label :郵便番号 %>
      <%= f.text_field :postal_code, class: "ui input" %>
    </div>

    <div class="field">
      <%= f.label :住所 %>
      <%= f.text_field :address, class: "ui input" %>
    </div>

    <div class="field">
      <%= f.label :電話番号 %>
      <%= f.text_field :telephone_number, class: "ui input" %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email, class: "ui input" %>
    </div>

    <div class="field">
      <%= f.label :活動地域 %>
      <%= f.text_field :activity_area, placeholder: "都道府県と市町村名までを入力", class: "ui input" %>
    </div>
    <%= f.submit "更新する", class: "ui primary button" %>
  <% end %>
</div>


